@media screen and (min-width: 61rem) {
  .layout-region--node-footer .layout-region__content,
  .layout-region--node-main .layout-region__content {
    width: 100%;
    max-width: 81.25rem;
    margin-right: auto;
    margin-left: auto; } }
.region-header .block-page-title-block {
  padding: 40px 0 20px 0; }

.content-header {
  background-color: whitesmoke; }

th {
  background: whitesmoke;
  color: #454545; }

.button:not(:focus), .dropbutton-wrapper {
  box-shadow: none; }

.button {
  padding: 15px; }

.gray, .ghost {
  background-color: #F9F9F9; }

.vimeo-embed {
  padding-bottom: 44.25%;
  max-width: 880px;
  margin-bottom: 1rem !important; }
  .vimeo-embed iframe {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.show-for-mediumlarge-only {
  display: none; }
  @media (min-width: 57em) and (max-width: 64em) {
    .show-for-mediumlarge-only {
      display: block; } }

.show-for-mediummedium-only {
  display: none; }
  @media (min-width: 48.01em) and (max-width: 56.99em) {
    .show-for-mediummedium-only {
      display: block; } }

.show-for-mediumsmall-only {
  display: none; }
  @media (min-width: 40em) and (max-width: 48em) {
    .show-for-mediumsmall-only {
      display: block; } }

.show-for-xl {
  display: none; }
  @media (min-width: 82em) {
    .show-for-xl {
      display: inline-block; } }

.edit-container .button-grouped .button, .edit-container .button-grouped .solid {
  position: relative;
  font-family: "Georgia", "Times New Roman", serif;
  border-radius: 50px;
  font-weight: 500;
  padding: 0.5rem 1.65rem;
  color: #fff;
  font-size: 0.875rem;
  transition: all 0.35s ease-in-out;
  z-index: 0;
  border: none;
  outline: none;
  background-color: #0D0101;
  margin: 0;
  text-decoration: none; }
  .edit-container .button-grouped .button:active, .edit-container .button-grouped .button:focus, .edit-container .button-grouped .button:hover, .edit-container .button-grouped .solid:active, .edit-container .button-grouped .solid:focus, .edit-container .button-grouped .solid:hover {
    background-color: #626161; }

.edit-container {
  position: relative; }
  .edit-container .edit-container-content {
    position: relative;
    z-index: 1; }
  .edit-container .grid-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    height: 100%;
    display: flex;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem; }
    .edit-container .grid-overlay .cell {
      background-color: whitesmoke;
      opacity: 0.5;
      height: 100%;
      width: calc(8.33333% - 1.875rem);
      flex: 0 0 auto;
      margin-left: 0.9375rem;
      margin-right: 0.9375rem; }

.layout-node-form.full-screen .layout-region--node-secondary {
  display: none; }
.layout-node-form.full-screen .layout-region--node-footer,
.layout-node-form.full-screen .layout-region--node-main {
  width: 100%; }

.layout-paragraphs-add-more-menu {
  width: 600px;
  max-width: 90%; }

.layout-paragraphs-add-more-menu__item img {
  width: 100% !important;
  height: auto; }

.grid-margin-x {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .grid-margin-x .preview-column, .grid-margin-x .cell {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
    padding: 16px;
    border: 1px #b5b5b8 dashed; }
    @media screen and (min-width: 40em) {
      .grid-margin-x .preview-column.medium-1, .grid-margin-x .cell.medium-1 {
        width: calc(8.33333% - 1.875rem); }
      .grid-margin-x .preview-column.medium-2, .grid-margin-x .cell.medium-2 {
        width: calc(16.66667% - 1.875rem); }
      .grid-margin-x .preview-column.medium-3, .grid-margin-x .cell.medium-3 {
        width: calc(25% - 1.875rem); }
      .grid-margin-x .preview-column.medium-4, .grid-margin-x .cell.medium-4 {
        width: calc(33.33333% - 1.875rem); }
      .grid-margin-x .preview-column.medium-5, .grid-margin-x .cell.medium-5 {
        width: calc(41% - 1.875rem); }
      .grid-margin-x .preview-column.medium-6, .grid-margin-x .cell.medium-6 {
        width: calc(50% - 1.875rem); }
      .grid-margin-x .preview-column.medium-7, .grid-margin-x .cell.medium-7 {
        width: calc(58% - 1.875rem); }
      .grid-margin-x .preview-column.medium-8, .grid-margin-x .cell.medium-8 {
        width: calc(66.66667% - 1.875rem); }
      .grid-margin-x .preview-column.medium-9, .grid-margin-x .cell.medium-9 {
        width: calc(75% - 1.875rem); }
      .grid-margin-x .preview-column.medium-10, .grid-margin-x .cell.medium-10 {
        width: calc(83.33333% - 1.875rem); }
      .grid-margin-x .preview-column.medium-11, .grid-margin-x .cell.medium-11 {
        width: calc(91.66667% - 1.875rem); }
      .grid-margin-x .preview-column.medium-12, .grid-margin-x .cell.medium-12 {
        width: calc(100% - 1.875rem); }
      .grid-margin-x .preview-column.medium-offset-0, .grid-margin-x .cell.medium-offset-0 {
        margin-left: calc(0% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-1, .grid-margin-x .cell.medium-offset-1 {
        margin-left: 8.33333%;
        margin-left: calc(8.33333% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-2, .grid-margin-x .cell.medium-offset-2 {
        margin-left: 16.66667%;
        margin-left: calc(16.66667% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-3, .grid-margin-x .cell.medium-offset-3 {
        margin-left: 25%;
        margin-left: calc(25% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-4, .grid-margin-x .cell.medium-offset-4 {
        margin-left: 33.33333%;
        margin-left: calc(33.33333% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-5, .grid-margin-x .cell.medium-offset-5 {
        margin-left: 41.66667%;
        margin-left: calc(41.66667% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-6, .grid-margin-x .cell.medium-offset-6 {
        margin-left: 50%;
        margin-left: calc(50% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-7, .grid-margin-x .cell.medium-offset-7 {
        margin-left: 58.33333%;
        margin-left: calc(58.33333% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-8, .grid-margin-x .cell.medium-offset-8 {
        margin-left: 66.66667%;
        margin-left: calc(66.66667% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-9, .grid-margin-x .cell.medium-offset-9 {
        margin-left: 75%;
        margin-left: calc(75% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-10, .grid-margin-x .cell.medium-offset-10 {
        margin-left: 83.33333%;
        margin-left: calc(83.33333% + 0.9375rem); }
      .grid-margin-x .preview-column.medium-offset-11, .grid-margin-x .cell.medium-offset-11 {
        margin-left: 91.66667%;
        margin-left: calc(91.66667% + 0.9375rem); } }

.ratio-fieldset {
  border: 0;
  padding: 0;
  box-shadow: none; }
  .ratio-fieldset .fieldset__wrapper {
    display: flex;
    margin-left: 0;
    padding-left: 0; }
    .ratio-fieldset .fieldset__wrapper > div {
      width: 30%;
      padding-right: 20px; }
      @media (min-width: 64em) {
        .ratio-fieldset .fieldset__wrapper > div {
          width: 25%; } }
      .ratio-fieldset .fieldset__wrapper > div select {
        width: 100%; }

.field--name-field-section-background-color .fieldset__wrapper--group > div,
.field--name-field-padding-option .fieldset__wrapper--group > div,
.field--name-field-column-alignment .fieldset__wrapper--group > div,
.field--name-field-visibility .fieldset__wrapper--group > div,
.field--name-field-container-background-color .fieldset__wrapper--group > div {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* HIDE RADIO */
  /* IMAGE STYLES */
  /* CHECKED STYLES */ }
  .field--name-field-section-background-color .fieldset__wrapper--group > div .js-form-item,
  .field--name-field-padding-option .fieldset__wrapper--group > div .js-form-item,
  .field--name-field-column-alignment .fieldset__wrapper--group > div .js-form-item,
  .field--name-field-visibility .fieldset__wrapper--group > div .js-form-item,
  .field--name-field-container-background-color .fieldset__wrapper--group > div .js-form-item {
    flex: 1 auto;
    margin-right: 10px;
    margin-left: 0; }
  .field--name-field-section-background-color .fieldset__wrapper--group > div label,
  .field--name-field-padding-option .fieldset__wrapper--group > div label,
  .field--name-field-column-alignment .fieldset__wrapper--group > div label,
  .field--name-field-visibility .fieldset__wrapper--group > div label,
  .field--name-field-container-background-color .fieldset__wrapper--group > div label {
    border: 2px whitesmoke solid;
    display: inline-flex;
    align-content: center;
    padding: 15px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; }
  .field--name-field-section-background-color .fieldset__wrapper--group > div [type=radio],
  .field--name-field-padding-option .fieldset__wrapper--group > div [type=radio],
  .field--name-field-column-alignment .fieldset__wrapper--group > div [type=radio],
  .field--name-field-visibility .fieldset__wrapper--group > div [type=radio],
  .field--name-field-container-background-color .fieldset__wrapper--group > div [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0; }
  .field--name-field-section-background-color .fieldset__wrapper--group > div [type=radio] + label,
  .field--name-field-padding-option .fieldset__wrapper--group > div [type=radio] + label,
  .field--name-field-column-alignment .fieldset__wrapper--group > div [type=radio] + label,
  .field--name-field-visibility .fieldset__wrapper--group > div [type=radio] + label,
  .field--name-field-container-background-color .fieldset__wrapper--group > div [type=radio] + label {
    cursor: pointer; }
  .field--name-field-section-background-color .fieldset__wrapper--group > div [type=radio]:checked + label,
  .field--name-field-padding-option .fieldset__wrapper--group > div [type=radio]:checked + label,
  .field--name-field-column-alignment .fieldset__wrapper--group > div [type=radio]:checked + label,
  .field--name-field-visibility .fieldset__wrapper--group > div [type=radio]:checked + label,
  .field--name-field-container-background-color .fieldset__wrapper--group > div [type=radio]:checked + label {
    border-color: #247EA8; }
.field--name-field-section-background-color div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-section-background-color div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-section-background-color div[id*='subform-field-column-alignment'] .js-form-item:first-child,
.field--name-field-section-background-color div[id*='subform-field-visibility'] .js-form-item:first-child,
.field--name-field-padding-option div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-padding-option div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-padding-option div[id*='subform-field-column-alignment'] .js-form-item:first-child,
.field--name-field-padding-option div[id*='subform-field-visibility'] .js-form-item:first-child,
.field--name-field-column-alignment div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-column-alignment div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-column-alignment div[id*='subform-field-column-alignment'] .js-form-item:first-child,
.field--name-field-column-alignment div[id*='subform-field-visibility'] .js-form-item:first-child,
.field--name-field-visibility div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-visibility div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-visibility div[id*='subform-field-column-alignment'] .js-form-item:first-child,
.field--name-field-visibility div[id*='subform-field-visibility'] .js-form-item:first-child,
.field--name-field-container-background-color div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-container-background-color div[id*='subform-field-padding-option'] .js-form-item:first-child,
.field--name-field-container-background-color div[id*='subform-field-column-alignment'] .js-form-item:first-child,
.field--name-field-container-background-color div[id*='subform-field-visibility'] .js-form-item:first-child {
  display: none; }
.field--name-field-section-background-color input[id*='section-background-color-5'] + label,
.field--name-field-section-background-color input[id*='container-background-color-5'] + label,
.field--name-field-padding-option input[id*='section-background-color-5'] + label,
.field--name-field-padding-option input[id*='container-background-color-5'] + label,
.field--name-field-column-alignment input[id*='section-background-color-5'] + label,
.field--name-field-column-alignment input[id*='container-background-color-5'] + label,
.field--name-field-visibility input[id*='section-background-color-5'] + label,
.field--name-field-visibility input[id*='container-background-color-5'] + label,
.field--name-field-container-background-color input[id*='section-background-color-5'] + label,
.field--name-field-container-background-color input[id*='container-background-color-5'] + label {
  border-left: 3px gray solid; }
.field--name-field-section-background-color input[id*='section-background-color-4'] + label,
.field--name-field-section-background-color input[id*='container-background-color-4'] + label,
.field--name-field-padding-option input[id*='section-background-color-4'] + label,
.field--name-field-padding-option input[id*='container-background-color-4'] + label,
.field--name-field-column-alignment input[id*='section-background-color-4'] + label,
.field--name-field-column-alignment input[id*='container-background-color-4'] + label,
.field--name-field-visibility input[id*='section-background-color-4'] + label,
.field--name-field-visibility input[id*='container-background-color-4'] + label,
.field--name-field-container-background-color input[id*='section-background-color-4'] + label,
.field--name-field-container-background-color input[id*='container-background-color-4'] + label {
  border-right: 3px gray solid; }
.field--name-field-section-background-color input[id*='section-background-color-2'] + label,
.field--name-field-section-background-color input[id*='container-background-color-2'] + label,
.field--name-field-padding-option input[id*='section-background-color-2'] + label,
.field--name-field-padding-option input[id*='container-background-color-2'] + label,
.field--name-field-column-alignment input[id*='section-background-color-2'] + label,
.field--name-field-column-alignment input[id*='container-background-color-2'] + label,
.field--name-field-visibility input[id*='section-background-color-2'] + label,
.field--name-field-visibility input[id*='container-background-color-2'] + label,
.field--name-field-container-background-color input[id*='section-background-color-2'] + label,
.field--name-field-container-background-color input[id*='container-background-color-2'] + label {
  border: 2px whitesmoke solid;
  background-color: #F9F9F9; }
.field--name-field-section-background-color input[id*='section-background-color-6'] + label,
.field--name-field-section-background-color input[id*='container-background-color-6'] + label,
.field--name-field-padding-option input[id*='section-background-color-6'] + label,
.field--name-field-padding-option input[id*='container-background-color-6'] + label,
.field--name-field-column-alignment input[id*='section-background-color-6'] + label,
.field--name-field-column-alignment input[id*='container-background-color-6'] + label,
.field--name-field-visibility input[id*='section-background-color-6'] + label,
.field--name-field-visibility input[id*='container-background-color-6'] + label,
.field--name-field-container-background-color input[id*='section-background-color-6'] + label,
.field--name-field-container-background-color input[id*='container-background-color-6'] + label {
  border: 2px whitesmoke solid;
  background-color: #0D0101;
  color: #fff; }
.field--name-field-section-background-color input[id*='section-background-color-7'] + label,
.field--name-field-section-background-color input[id*='container-background-color-7'] + label,
.field--name-field-padding-option input[id*='section-background-color-7'] + label,
.field--name-field-padding-option input[id*='container-background-color-7'] + label,
.field--name-field-column-alignment input[id*='section-background-color-7'] + label,
.field--name-field-column-alignment input[id*='container-background-color-7'] + label,
.field--name-field-visibility input[id*='section-background-color-7'] + label,
.field--name-field-visibility input[id*='container-background-color-7'] + label,
.field--name-field-container-background-color input[id*='section-background-color-7'] + label,
.field--name-field-container-background-color input[id*='container-background-color-7'] + label {
  border: 2px whitesmoke solid;
  background-color: #F9F5F1; }
.field--name-field-section-background-color input[id*='section-background-color-8'] + label,
.field--name-field-section-background-color input[id*='container-background-color-8'] + label,
.field--name-field-padding-option input[id*='section-background-color-8'] + label,
.field--name-field-padding-option input[id*='container-background-color-8'] + label,
.field--name-field-column-alignment input[id*='section-background-color-8'] + label,
.field--name-field-column-alignment input[id*='container-background-color-8'] + label,
.field--name-field-visibility input[id*='section-background-color-8'] + label,
.field--name-field-visibility input[id*='container-background-color-8'] + label,
.field--name-field-container-background-color input[id*='section-background-color-8'] + label,
.field--name-field-container-background-color input[id*='container-background-color-8'] + label {
  border: 2px whitesmoke solid;
  background-color: #008062;
  color: #fff; }
.field--name-field-section-background-color input[id*='section-background-color-9'] + label,
.field--name-field-section-background-color input[id*='container-background-color-9'] + label,
.field--name-field-padding-option input[id*='section-background-color-9'] + label,
.field--name-field-padding-option input[id*='container-background-color-9'] + label,
.field--name-field-column-alignment input[id*='section-background-color-9'] + label,
.field--name-field-column-alignment input[id*='container-background-color-9'] + label,
.field--name-field-visibility input[id*='section-background-color-9'] + label,
.field--name-field-visibility input[id*='container-background-color-9'] + label,
.field--name-field-container-background-color input[id*='section-background-color-9'] + label,
.field--name-field-container-background-color input[id*='container-background-color-9'] + label {
  border: 2px whitesmoke solid;
  background-color: #191919;
  color: #fff; }
.field--name-field-section-background-color input[id*='section-background-color-1'] + label,
.field--name-field-section-background-color input[id*='container-background-color-1'] + label,
.field--name-field-padding-option input[id*='section-background-color-1'] + label,
.field--name-field-padding-option input[id*='container-background-color-1'] + label,
.field--name-field-column-alignment input[id*='section-background-color-1'] + label,
.field--name-field-column-alignment input[id*='container-background-color-1'] + label,
.field--name-field-visibility input[id*='section-background-color-1'] + label,
.field--name-field-visibility input[id*='container-background-color-1'] + label,
.field--name-field-container-background-color input[id*='section-background-color-1'] + label,
.field--name-field-container-background-color input[id*='container-background-color-1'] + label {
  background-color: white; }
.field--name-field-section-background-color input[id*='section-background-color-4'] + label,
.field--name-field-section-background-color input[id*='container-background-color-4'] + label,
.field--name-field-padding-option input[id*='section-background-color-4'] + label,
.field--name-field-padding-option input[id*='container-background-color-4'] + label,
.field--name-field-column-alignment input[id*='section-background-color-4'] + label,
.field--name-field-column-alignment input[id*='container-background-color-4'] + label,
.field--name-field-visibility input[id*='section-background-color-4'] + label,
.field--name-field-visibility input[id*='container-background-color-4'] + label,
.field--name-field-container-background-color input[id*='section-background-color-4'] + label,
.field--name-field-container-background-color input[id*='container-background-color-4'] + label {
  border-right: 3px gray solid; }
.field--name-field-section-background-color input[id*='field-padding-option-paddedrow'] + label,
.field--name-field-padding-option input[id*='field-padding-option-paddedrow'] + label,
.field--name-field-column-alignment input[id*='field-padding-option-paddedrow'] + label,
.field--name-field-visibility input[id*='field-padding-option-paddedrow'] + label,
.field--name-field-container-background-color input[id*='field-padding-option-paddedrow'] + label {
  border-top: 10px whitesmoke solid;
  border-bottom: 10px whitesmoke solid;
  align-items: center; }
.field--name-field-section-background-color input[id*='field-padding-option-paddedbottom'] + label,
.field--name-field-padding-option input[id*='field-padding-option-paddedbottom'] + label,
.field--name-field-column-alignment input[id*='field-padding-option-paddedbottom'] + label,
.field--name-field-visibility input[id*='field-padding-option-paddedbottom'] + label,
.field--name-field-container-background-color input[id*='field-padding-option-paddedbottom'] + label {
  border-bottom: 10px whitesmoke solid;
  align-items: center; }
.field--name-field-section-background-color input[id*='field-padding-option-paddedtop'] + label,
.field--name-field-padding-option input[id*='field-padding-option-paddedtop'] + label,
.field--name-field-column-alignment input[id*='field-padding-option-paddedtop'] + label,
.field--name-field-visibility input[id*='field-padding-option-paddedtop'] + label,
.field--name-field-container-background-color input[id*='field-padding-option-paddedtop'] + label {
  border-top: 10px whitesmoke solid;
  align-items: center; }
.field--name-field-section-background-color input[id*='visibility-always-visible'] + label,
.field--name-field-padding-option input[id*='visibility-always-visible'] + label,
.field--name-field-column-alignment input[id*='visibility-always-visible'] + label,
.field--name-field-visibility input[id*='visibility-always-visible'] + label,
.field--name-field-container-background-color input[id*='visibility-always-visible'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/visibility-always.svg"); }
.field--name-field-section-background-color input[id*='visibility-show-for-medium'] + label,
.field--name-field-padding-option input[id*='visibility-show-for-medium'] + label,
.field--name-field-column-alignment input[id*='visibility-show-for-medium'] + label,
.field--name-field-visibility input[id*='visibility-show-for-medium'] + label,
.field--name-field-container-background-color input[id*='visibility-show-for-medium'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/visibility-desktop.svg"); }
.field--name-field-section-background-color input[id*='visibility-show-for-small'] + label,
.field--name-field-padding-option input[id*='visibility-show-for-small'] + label,
.field--name-field-column-alignment input[id*='visibility-show-for-small'] + label,
.field--name-field-visibility input[id*='visibility-show-for-small'] + label,
.field--name-field-container-background-color input[id*='visibility-show-for-small'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/visibility-mobile.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-default'] + label,
.field--name-field-padding-option input[id*='column-alignment-default'] + label,
.field--name-field-column-alignment input[id*='column-alignment-default'] + label,
.field--name-field-visibility input[id*='column-alignment-default'] + label,
.field--name-field-container-background-color input[id*='column-alignment-default'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-left-left.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-float-center'] + label,
.field--name-field-padding-option input[id*='column-alignment-float-center'] + label,
.field--name-field-column-alignment input[id*='column-alignment-float-center'] + label,
.field--name-field-visibility input[id*='column-alignment-float-center'] + label,
.field--name-field-container-background-color input[id*='column-alignment-float-center'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-center-center.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-float-right'] + label,
.field--name-field-padding-option input[id*='column-alignment-float-right'] + label,
.field--name-field-column-alignment input[id*='column-alignment-float-right'] + label,
.field--name-field-visibility input[id*='column-alignment-float-right'] + label,
.field--name-field-container-background-color input[id*='column-alignment-float-right'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-right.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-centered-medium'] + label,
.field--name-field-padding-option input[id*='column-alignment-centered-medium'] + label,
.field--name-field-column-alignment input[id*='column-alignment-centered-medium'] + label,
.field--name-field-visibility input[id*='column-alignment-centered-medium'] + label,
.field--name-field-container-background-color input[id*='column-alignment-centered-medium'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-left-center.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-centered-small'] + label,
.field--name-field-padding-option input[id*='column-alignment-centered-small'] + label,
.field--name-field-column-alignment input[id*='column-alignment-centered-small'] + label,
.field--name-field-visibility input[id*='column-alignment-centered-small'] + label,
.field--name-field-container-background-color input[id*='column-alignment-centered-small'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-center-left.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-right-medium'] + label,
.field--name-field-padding-option input[id*='column-alignment-right-medium'] + label,
.field--name-field-column-alignment input[id*='column-alignment-right-medium'] + label,
.field--name-field-visibility input[id*='column-alignment-right-medium'] + label,
.field--name-field-container-background-color input[id*='column-alignment-right-medium'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-left-right.svg"); }
.field--name-field-section-background-color input[id*='column-alignment-right-small'] + label,
.field--name-field-padding-option input[id*='column-alignment-right-small'] + label,
.field--name-field-column-alignment input[id*='column-alignment-right-small'] + label,
.field--name-field-visibility input[id*='column-alignment-right-small'] + label,
.field--name-field-container-background-color input[id*='column-alignment-right-small'] + label {
  background-repeat: no-repeat;
  padding-left: 90px;
  background-image: url("../images/align-right-left.svg"); }

.paragraphs-add-dialog ul.paragraphs-add-dialog-list .button.button--small {
  padding-left: 0; }

#fullscreen {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  #fullscreen .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; }
  #fullscreen .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  #fullscreen .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  #fullscreen .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  #fullscreen input:checked + .slider {
    background-color: #193cc5; }
  #fullscreen input:focus + .slider {
    box-shadow: 0 0 1px #193cc5; }
  #fullscreen input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  #fullscreen .slider.round {
    border-radius: 34px; }
  #fullscreen .slider.round:before {
    border-radius: 50%; }

.multiple-card-container {
  display: flex;
  flex-wrap: wrap; }
  .multiple-card-container .cell {
    margin-right: 15px;
    border: 0; }
  .multiple-card-container.large-up-4 .cell {
    width: 24%; }
  .multiple-card-container.large-up-3 .cell {
    width: 32.3%; }
  .multiple-card-container.large-up-2 .cell {
    width: 49%; }
  .multiple-card-container.large-up-1 .cell {
    width: 100%; }
  .multiple-card-container.large-up-5 .cell {
    width: 19%; }
  .multiple-card-container.large-up-6 .cell {
    width: 15.6%; }
  .multiple-card-container.large-up-7 .cell {
    width: 13.2%; }
  .multiple-card-container.large-up-8 .cell {
    width: 11.5%; }

.card-cell {
  background-color: #F9F9F9;
  border-radius: 5px; }
  .card-cell .card {
    box-shadow: none;
    border: none; }
  .card-cell .card-section {
    padding: 2rem; }
  .card-cell .top {
    padding-bottom: 2rem; }
  .card-cell .date {
    color: #6B6B6B;
    font-size: 0.9375em; }
  .card-cell .bottom a {
    font-size: 1.25em;
    color: #0D0101;
    font-weight: 600; }
    .card-cell .bottom a:hover, .card-cell .bottom a:focus, .card-cell .bottom a:active {
      color: #626161; }

.gray .card-cell, .ghost .card-cell {
  background-color: #fff; }

.spacer {
  display: block;
  background-color: whitesmoke; }
  @media (max-width: 40em) {
    .spacer.mobile-10 {
      height: 10px; }
    .spacer.mobile-20 {
      height: 20px; }
    .spacer.mobile-30 {
      height: 30px; }
    .spacer.mobile-40 {
      height: 40px; }
    .spacer.mobile-50 {
      height: 50px; }
    .spacer.mobile-60 {
      height: 60px; }
    .spacer.mobile-70 {
      height: 70px; }
    .spacer.mobile-80 {
      height: 80px; }
    .spacer.mobile-90 {
      height: 90px; }
    .spacer.mobile-100 {
      height: 100px; } }
  @media (min-width: 40em) {
    .spacer.medium-10 {
      height: 10px; }
    .spacer.medium-20 {
      height: 20px; }
    .spacer.medium-30 {
      height: 30px; }
    .spacer.medium-40 {
      height: 40px; }
    .spacer.medium-50 {
      height: 50px; }
    .spacer.medium-60 {
      height: 60px; }
    .spacer.medium-70 {
      height: 70px; }
    .spacer.medium-80 {
      height: 80px; }
    .spacer.medium-90 {
      height: 90px; }
    .spacer.medium-100 {
      height: 100px; } }

.carousel-container {
  display: flex; }

/*# sourceMappingURL=style.css.map */
