

<section class="{{content.field_padding_option.0}} {{content.field_section_background_color.0}}">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-5 bordered-right">
        <div class="">
          {{content.field_left_column_sticky_section}}

        </div>
      </div>
      <div class="cell medium-6 medium-offset-1 ">
        {{content.field_anchor_section}}
      </div>
    </div>
  </div>
</section>
