{{attach_library('scev/accordion')}}
{% set heading = content.field_heading_level.0 %}
<ul class="module accordion {{content.field_padding_option.0}} {{content.field_visibility.0}}" >
  {% for item in paragraph.field_accordion_item %}
    <li>
      <a class=" toggle" href="#accordion-{{ loop.index0 }}" role="button" aria-selected="true" aria-controls="accordion-{{ loop.index0 }}" id="accordion-control-{{ loop.index0 }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
        {% if heading == "h2" %}
        <h2>{{item.entity.field_accordion_item_title.value}}</h2>
        {% elseif heading =="h3" %}
          <h3>{{item.entity.field_accordion_item_title.value}}</h3>
        {% elseif heading =="h4" %}
          <h4>{{item.entity.field_accordion_item_title.value}}</h4>
        {% else %}
          {{item.entity.field_accordion_item_title.value}}
        {% endif %}
        <span class="open-close-button"><img src="{{directory}}/images/plus.svg" alt="" /></span></a>
      <div id="accordion-{{ loop.index0 }}" class="inner" role="tabpanel" tabindex="0" aria-labelledby="accordion-control-{{ loop.index0 }}" aria-hidden="{% if loop.first %}false{% else %}true{% endif %}">
        <div class="inner-padding">
          
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
