

<!--Horizontal Tab-->
<div class="horizontalTab">
    <ul role="tablist" >
      {% for item in paragraph.field_tab %}
        <li><a class="tab-control" href="#tab-{{ loop.index0 }}" role="tab" aria-selected="true" aria-controls="tab-{{ loop.index0 }}" id="tab-control-{{ loop.index0 }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{item.entity.field_tab_name.value}}<span class="show-for-small-only open-close-button"><img src="{{directory}}/images/plus.svg" alt="" /></span></a></li>
      {% endfor %}

    </ul>
    {% for item in paragraph.field_tab %}
      {% if loop.first %}
          {{ drupal_entity('paragraph', item.target_id) }}
      {% endif %}
    {% endfor %}

</div>
