<section class="hero photo-hero">

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-5 hero-content" data-sal="fade" data-sal-duration="1200">
        {{content.field_left_column}}
      </div>
      <div class="cell medium-7" style="background-image: url({% spaceless %}{{content.field_background_image}}{% endspaceless %}); background-size: cover; background-repeat: no-repeat">

      </div>
    </div>
  </div>

</section>
<div class="" id="nav">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <div class="sticky-nav">
          {{drupal_menu('main')}}
        </div>
      </div>
    </div>
  </div>
</div>
