<div class="preview-column cell medium-{{content.field_column_ratio.0}} {{content.field_column_offset.0}} {{content.field_vertical_alignment.0}} {{content.field_column_alignment.0}} {% if content.field_background_color | render %}column-has-bg bg-{{content.field_background_color.0}}{% endif %}">
  {{content.field_column_content}}
</div>
