ul.accordion {
  list-style: none;
  position: relative;
  z-index: 1;
  padding: 0;
  margin-left: 0;
  border: 0;
  width: 90%;
  .inner{
    padding: 2rem .5 2rem 1.5rem;
    overflow: hidden;
    display: none;
  }
  li {
    margin: 0.5em 0;
    a.toggle {
      width: 100%;
      display: block;
      background-color: $black;
      color: #fefefe;
      padding: 0.75em;
      border-radius: 0.15em;
      transition: $transition;
      font-family: $heading;
      position: relative;
      display: inline-block;
      width: 100%;
      
    }
    .inner {

    }
  }
}
