.multiple-card-container {
  display: flex;
  flex-wrap: wrap;
  .cell {
    margin-right: 15px;
    border: 0;
  }
  &.large-up-4 {
    .cell {
      width: 24%;
    }
  }
  &.large-up-3 {
    .cell {
      width: 32.3%;
    }
  }
  &.large-up-2 {
    .cell {
      width: 49%;
    }
  }
  &.large-up-1 {
    .cell {
      width: 100%;
    }
  }
  &.large-up-5 {
    .cell {
      width: 19%;
    }
  }
  &.large-up-6 {
    .cell {
      width: 15.6%;
    }
  }
  &.large-up-7 {
    .cell {
      width: 13.2%;
    }
  }
  &.large-up-8 {
    .cell {
      width: 11.5%;
    }
  }
}


.card-cell {
  background-color: $ghost;
  border-radius: 5px;
  .card {
    box-shadow: none;
    border: none;
  }
  .card-section {
    padding: 2rem;
  }
  .top {
    padding-bottom: 2rem;
  }
  .date {
    color: #6B6B6B;
    font-size: 0.9375em;
  }
  .bottom {
    a {
      font-size: 1.25em;
      color: $black;
      font-weight: $semi;
      &:hover, &:focus, &:active {
        color: $gray;
      }
    }
  }
}
.gray, .ghost {
  .card-cell {
    background-color: $white;
  }
}
