.spacer {
  display: block;
  background-color: whitesmoke;
  @include breakpoint(small) {
    &.mobile-10 {
      height: 10px;
    }
    &.mobile-20 {
      height: 20px;
    }
    &.mobile-30 {
      height: 30px;
    }
    &.mobile-40 {
      height: 40px;
    }
    &.mobile-50 {
      height: 50px;
    }
    &.mobile-60 {
      height: 60px;
    }
    &.mobile-70 {
      height: 70px;
    }
    &.mobile-80 {
      height: 80px;
    }
    &.mobile-90 {
      height: 90px;
    }
    &.mobile-100 {
      height: 100px;
    }
  }
  @include breakpoint(medium) {
    &.medium-10 {
      height: 10px;
    }
    &.medium-20 {
      height: 20px;
    }
    &.medium-30 {
      height: 30px;
    }
    &.medium-40 {
      height: 40px;
    }
    &.medium-50 {
      height: 50px;
    }
    &.medium-60 {
      height: 60px;
    }
    &.medium-70 {
      height: 70px;
    }
    &.medium-80 {
      height: 80px;
    }
    &.medium-90 {
      height: 90px;
    }
    &.medium-100 {
      height: 100px;
    }
  }
}
