.horizontalTab {
  ul {
    display: flex;
    list-style-type: none;
    li {
      a {
        display: inline-block;
        margin-right: 1rem;
      	text-decoration: none;
      	font-size: 1.25em;
      	font-family: $heading;
      	color: $black;
        border-bottom: 2px $black solid;
      }
      &:first-child {
        a {
          border-bottom: 2px $gray solid;
        }
      }
    }
  }
}
