.edit-container {
  position: relative;

  .edit-container-content {
    position: relative;
    z-index: 1;
  }

.grid-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    height: 100%;
    display: flex;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;

    .cell {
      background-color: whitesmoke;
      opacity: 0.5;
      height: 100%;
      width: calc(8.33333% - 1.875rem);
      flex: 0 0 auto;
      margin-left: 0.9375rem;
      margin-right: 0.9375rem;
    }
  }
}

.layout-node-form.full-screen {
  .layout-region--node-secondary {
    display: none;
  }

  .layout-region--node-footer,
  .layout-region--node-main {
    width: 100%;
  }
}
//blog
.layout-paragraphs-add-more-menu {
  width: 600px;
  max-width: 90%;
}

.layout-paragraphs-add-more-menu__item img {
  width: 100%!important;
  height: auto;
}

.grid-margin-x {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;


  .preview-column, .cell {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
    padding: 16px;
    border: 1px #b5b5b8 dashed;
    @media screen and (min-width: 40em) {
      &.medium-1 {
        width: calc(8.33333% - 1.875rem);
      }

      &.medium-2 {
        width: calc(16.66667% - 1.875rem);
      }

      &.medium-3 {
        width: calc(25% - 1.875rem);
      }

      &.medium-4 {
        width: calc(33.33333% - 1.875rem);
      }

      &.medium-5 {
        width: calc(41% - 1.875rem);
      }

      &.medium-6 {
        width: calc(50% - 1.875rem);
      }

      &.medium-7 {
        width: calc(58% - 1.875rem);
      }

      &.medium-8 {
        width: calc(66.66667% - 1.875rem);
      }

      &.medium-9 {
        width: calc(75% - 1.875rem);
      }

      &.medium-10 {
        width: calc(83.33333% - 1.875rem);
      }

      &.medium-11 {
        width: calc(91.66667% - 1.875rem);
      }

      &.medium-12 {
        width: calc(100% - 1.875rem);
      }

      &.medium-offset-0 {
        margin-left: calc(0% + 0.9375rem);
      }

      &.medium-offset-1 {
        margin-left: 8.33333%;
        margin-left: calc(8.33333% + 0.9375rem);
      }

      &.medium-offset-2 {
        margin-left: 16.66667%;
        margin-left: calc(16.66667% + 0.9375rem);
      }

      &.medium-offset-3 {
        margin-left: 25%;
        margin-left: calc(25% + 0.9375rem);
      }

      &.medium-offset-4 {
        margin-left: 33.33333%;
        margin-left: calc(33.33333% + 0.9375rem);
      }

      &.medium-offset-5 {
        margin-left: 41.66667%;
        margin-left: calc(41.66667% + 0.9375rem);
      }

      &.medium-offset-6 {
        margin-left: 50%;
        margin-left: calc(50% + 0.9375rem);
      }

      &.medium-offset-7 {
        margin-left: 58.33333%;
        margin-left: calc(58.33333% + 0.9375rem);
      }

      &.medium-offset-8 {
        margin-left: 66.66667%;
        margin-left: calc(66.66667% + 0.9375rem);
      }

      &.medium-offset-9 {
        margin-left: 75%;
        margin-left: calc(75% + 0.9375rem);
      }

      &.medium-offset-10 {
        margin-left: 83.33333%;
        margin-left: calc(83.33333% + 0.9375rem);
      }

      &.medium-offset-11 {
        margin-left: 91.66667%;
        margin-left: calc(91.66667% + 0.9375rem);
      }
    }
  }
}


.full-screen {
  tr.paragraph-type--column-container .draggable-table tbody{
  //  display: flex;
  }
}


//column ratio
.ratio-fieldset {
  border: 0;
  padding: 0;
  box-shadow: none;
  .fieldset__wrapper {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    > div {
      width: 30%;
      padding-right: 20px;
      @include breakpoint(large) {
        width: 25%;
      }
      select {
        width: 100%;
      }
    }
  }
}

.field--name-field-section-background-color,
.field--name-field-padding-option,
.field--name-field-column-alignment,
.field--name-field-visibility,
.field--name-field-container-background-color {

  .fieldset__wrapper--group > div {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    .js-form-item {
      flex: 1 auto;

      margin-right: 10px;
      margin-left: 0;
    }



    label {
      border: 2px whitesmoke solid;
      display: inline-flex;
      align-content: center;
      padding: 15px;
      height: 50px;
      text-align: left;
      padding-left: 10px;
      border-radius: 4px;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: 3px 3px;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
    }
    /* HIDE RADIO */
    [type=radio] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + label {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + label {
      border-color: #247EA8;
    }
  }
  div[id*='subform-field-padding-option'],
  div[id*='subform-field-padding-option'],
  div[id*='subform-field-column-alignment'],
  div[id*='subform-field-visibility'] {
    .js-form-item {
      &:first-child {
        display: none;
      }
    }
  }

  input[id*='section-background-color-none'] + label,
  input[id*='container-background-color-none'] + label {

  }
  input[id*='section-background-color-5'] + label,
  input[id*='container-background-color-5'] + label {
     border-left: 3px gray solid;
  }
  input[id*='section-background-color-4'] + label,
  input[id*='container-background-color-4'] + label {
     border-right: 3px gray solid;
  }
  input[id*='section-background-color-2'] + label,
  input[id*='container-background-color-2'] + label {
     border: 2px whitesmoke solid;
     background-color: $ghost;
  }
  input[id*='section-background-color-6'] + label,
  input[id*='container-background-color-6'] + label {
     border: 2px whitesmoke solid;
     background-color: $black;
     color: $white;
  }
  input[id*='section-background-color-7'] + label,
  input[id*='container-background-color-7'] + label {
     border: 2px whitesmoke solid;
     background-color: $canvas;
  }
  input[id*='section-background-color-8'] + label,
  input[id*='container-background-color-8'] + label {
     border: 2px whitesmoke solid;
     background-color: $emerald;
     color: $white;
  }
  input[id*='section-background-color-9'] + label,
  input[id*='container-background-color-9'] + label {
     border: 2px whitesmoke solid;
     background-color: $charcoal;
     color: $white;
  }
  input[id*='section-background-color-1'] + label,
  input[id*='container-background-color-1'] + label {

     background-color: white;
  }
  input[id*='section-background-color-4'] + label,
  input[id*='container-background-color-4'] + label {
     border-right: 3px gray solid;
  }
  input[id*='field-padding-option-paddedrow'] + label {
     border-top: 10px whitesmoke solid;
     border-bottom: 10px whitesmoke solid;
     align-items: center;
  }
  input[id*='field-padding-option-paddedbottom'] + label {
     border-bottom: 10px whitesmoke solid;
     align-items: center;
  }
  input[id*='field-padding-option-paddedtop'] + label {
     border-top: 10px whitesmoke solid;
     align-items: center;
  }
  input[id*='visibility-always-visible'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/visibility-always.svg');
  }
  input[id*='visibility-show-for-medium'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/visibility-desktop.svg');
  }
  input[id*='visibility-show-for-small'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/visibility-mobile.svg');
  }
  input[id*='column-alignment-default'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-left-left.svg');
  }
  input[id*='column-alignment-float-center'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-center-center.svg');
  }
  input[id*='column-alignment-float-right'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-right.svg');
  }
  input[id*='column-alignment-centered-medium'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-left-center.svg');
  }
  input[id*='column-alignment-centered-small'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-center-left.svg');
  }
  input[id*='column-alignment-right-medium'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-left-right.svg');
  }
  input[id*='column-alignment-right-small'] + label {
     background-repeat: no-repeat;
     padding-left: 90px;
     background-image: url('../images/align-right-left.svg');
  }
}
