.imageblock {
  img {
    width: 100%;
  }
  &.centerimage, &.float-center {
    margin: 0 auto;
    text-align:center;
    img {
      margin: 1.5rem auto 1.5rem auto;
    }
  }
  figcaption {
    font-size: .8rem;
    margin: .5rem 0;
  }
}


@include breakpoint(small) {
  .grid-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.ghost, .bg-ghost{
  background-color: $ghost;
}

.column-has-bg {
  padding: 20px;
  border-radius: 12px;
}

section.padded, section.paddedrow, section.padded-top, section.paddedtop {
  padding-top: 3rem;
  @include breakpoint(medium) {
    padding-top: 5em
  }
}

section.padded, section.paddedrow, section.padded-bottom, section.paddedbottom {
  padding-bottom: 3rem;
  @include breakpoint(medium) {
    padding-bottom: 5em;
  }
}

  .padded, .paddedrow, .padded-top, .paddedtop {
    padding-top: 1rem;
    @include breakpoint(medium) {
      padding-top: 1.5rem
    }
  }

  .padded, .paddedrow, .padded-bottom, .paddedbottom {
    padding-bottom: 1rem;
    @include breakpoint(medium) {
      padding-bottom: 1.5rem
    }
  }

.float-center, .always-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  .imageblock, button, div, img {
    margin: 0 auto;
  }
}

.centered-medium {
  @include breakpoint(medium) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    .imageblock, button, div, img {
      margin: 0 auto;
    }
  }
}
.centered-small {
  @include breakpoint(small) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    .imageblock, button, div, img {
      margin: 0 auto;
    }
  }
}
.right-medium {
  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}
.right-small {
  @include breakpoint(small) {
    float: right !important;
  }
}


.center-vertically {
  @include breakpoint(medium) {
    .grid-x {
      align-content: center;
      align-items: center;
      .float-center {
        //padding: 50px;
      }
    }
  }
}
@include breakpoint(medium) {
  .grid-x.center-vertically {
    align-content: center;
    align-items: center;
    .float-center {
      //padding: 50px;
    }
  }
  .grid-x.bottom-vertically {
    align-content: bottom;
    align-items: bottom;
    .float-center {
      //padding: 50px;
    }
  }
}
.bottom-vertically {
  @include breakpoint(medium) {
    .grid-x {
      .cell {
        padding-top: 150px;
        padding-right: 30px;
        padding-bottom: 30px;
        &.cell-background {
          padding-left: 0;
          border: 1px transparent solid;
        }
        h2, h3, h4 {
          margin-bottom: 8px;
        }
        p {
          padding-bottom: 8px;
        }
      }
    }
  }
  @include breakpoint(small) {
    .cell {
      padding-top: 200px;
      padding-bottom: 30px;
      &.remove-mobile-bg {
        padding-top: 0;
      }
    }
  }
}

.ui-widget[style] {
  top: 100px!important;
}
