// BREAK POINTS
$breakpoints: (
'xs-phone': 320px,
'phone': 480px,
'tablet': 768px,
'desktop': 1024px,
'widescreen': 1200px
);

@mixin breakpoint($point) {
   @if $point == desktop{
    @media (min-width: 1100px) {
       @content;
    }
  }
  @if $point == mediumonly {
     @media (min-width: 640px) and (max-width: 1023px){
      @content;
    }
  }
  @if $point == small {
     @media (max-width: 40em){
      @content;
    }
  }
  @if $point == mobileonly {
     @media (max-width: 640px){
      @content;
    }
  }

  @if $point == medium {
     @media (min-width: 40em){
      @content;
    }
  }
  @if $point == mediumdown {
     @media (max-width: 63.99em){
      @content;
    }
  }
  @if $point == large {
     @media (min-width: 64em){
      @content;
    }
  }

  @if $point == xxl {
     @media (min-width: 90em){
      @content;
    }
  }
  //hero

  @if $point == medium-medium {
     @media (min-width: 48.01em ) and (max-width: 56.99em){
      @content;
    }
  }

  @if $point == medium-medium-down {
     @media (max-width: 56.99em){
      @content;
    }
  }

  @if $point == medium-large {
     @media (min-width: 57em ) and (max-width: 64em){
      @content;
    }
  }

  @if $point == medium-small {
     @media (min-width: 40em ) and (max-width: 48em){
      @content;
    }
  }

  @if $point == xl {
     @media (min-width: 82em ) {
      @content;
    }
  }

}

.show-for-mediumlarge-only {
  display: none;
  @include breakpoint(medium-large) {
    display: block;
  }
}

.show-for-mediummedium-only {
  display: none;
  @include breakpoint(medium-medium) {
    display: block;
  }
}

.show-for-mediumsmall-only {
  display: none;
  @include breakpoint(medium-small) {
    display: block;
  }
}

.show-for-xl {
  display: none;
  @include breakpoint(xl) {
    display: inline-block;
  }
}
