.edit-container .button-grouped  {
  .button, .solid {
    position: relative;
    font-family: $heading;
    border-radius: 50px;
    font-weight: $medium;
    padding: 0.5rem 1.65rem;
    color: $white;
    font-size: 0.875rem;
    transition: $transition;
    z-index: 0;
    border: none;
    outline: none;
    background-color: $black;
    margin: 0;
    text-decoration: none;



    &:active,
    &:focus,
    &:hover {
      background-color: $gray;
    }

  }
}
