

@media screen and (min-width: 61rem) {
  .layout-region--node-footer .layout-region__content,
  .layout-region--node-main .layout-region__content {
    width: 100%;
    max-width: 81.25rem;
    margin-right: auto;
    margin-left: auto;
  }
}


.region-header {
  .block-page-title-block {
    padding: 40px 0 20px 0;
  }
}

//colos
.content-header {
  background-color: whitesmoke;
}

th {
  background: whitesmoke;
  color: #454545;
}

.button:not(:focus), .dropbutton-wrapper {
  box-shadow: none;

}

.button {
  padding: 15px;
}

.gray, .ghost {
  background-color: $ghost;
}
.vimeo-embed {
  padding-bottom: 44.25%;
  max-width: 880px;
  margin-bottom: 1rem!important;

  iframe {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
