//@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');

//Define colors -- placeholder colors
$black: #0D0101;
$white: #fff;
$canvas: #F9F5F1;
$border: #C9C9C9;
$ghost: #F9F9F9;
$gray: #626161;
$highlight: #B5F602;
$leaf: #00CD93;
$emerald: #008062;
$charcoal: #191919;

$sans: 'Helvetica', 'Arial', sans-serif;
$heading:  'Georgia', 'Times New Roman', serif;
$base-font: $sans;

$book: 400;
$medium: 500;
$semi: 600;
$bold: 800;

// Body
$text: $gray;
$primary: $gray;
$secondary: $black;

// Liks
$base-link-color: $black;

//$transition
$transition: all .35s ease-in-out;
