{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see claro_form_node_form_alter()
 */
#}
<div id="fullscreen">
  <label class="switch">
    <input id="toggle-fullscreen" type="checkbox">
    <span class="slider round"></span>
  </label>
  <span>&nbsp;Edit in full screen mode</span>
</div>
<div class="layout-node-form clearfix">
  <div class="layout-region layout-region--node-main edit-container">
    <div class="layout-region__content">
      <div class="edit-container-content">
        {{ form|without('advanced', 'footer', 'actions') }}
        
      </div>

    </div>
  </div>
  <div class="layout-region layout-region--node-secondary">
    <div class="layout-region__content">
      {{ form.advanced }}
    </div>
  </div>
  <div class="layout-region layout-region--node-footer">
    <div class="layout-region__content">
      <div class="divider"></div>
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
